:root {
    --background: #fff;
    --color: rgb(20, 40, 255);
    --border: rgba(82, 78, 78, 0.219);
    --color-hover: #042fa7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Inter', sans-serif;
}

.navbar {
    width: 100%;
}

.navbar header {
    background: rgba(255, 255, 255, 0.8);
    padding: 1.3rem 2rem;
    border-bottom: 1px solid var(--border);
}

header .logo a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color: var(--color);
    transition: 0.5s;
}

header .logo a:hover {
    color: var(--color-hover);
}

.sidebar {
    background: rgb(240, 240, 240);
    width: 232px;
    height: 100vh;
    border-right: 1px solid var(--border);
}

.sidebar .logo {
    text-align: center;
    padding: 24px;
}

.sidebar .logo h3 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color);
}

.sidebar .logo h5 {
    font-weight: 600;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar ul li {
    list-style: none;
    margin-left: 32px;
    padding: 8px 16px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.sidebar ul li:hover {
    background: #fff;
    border-radius: 8px;
    border-left: 1px solid #000;
}

ul li a {
    text-decoration: none;
    color: var(--color);
    font-size: 15px;
    font-weight: 600;
}

ul li a:hover {
    color: var(--color-hover);
}